<!-- LANGUAGES AND TOOLS -->
<h3 align="left">Languages and Tools:</h3>
<p align="left">
  <!-- javascript --><a
    href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=javascript"
      alt="javascript"
      width="40"
      height="40"
    /> </a
  ><!-- tailwind --><a
    href="https://tailwindcss.com/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=tailwind"
      alt="tailwind"
      width="40"
      height="40"
    /> </a
  ><!-- react --><a
    href="https://reactjs.org/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=react"
      alt="react"
      width="40"
      height="40" /></a
  ><!-- Nextjs --><a
    href="https://nextjs.org/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=nextjs"
      alt="nextjs"
      width="40"
      height="40"
    /> </a
  ><!-- express --><a
    href="https://expressjs.com"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=express"
      alt="express"
      width="40"
      height="40"
    /> </a
  ><!-- nodejs --><a href="https://nodejs.org" target="_blank" rel="noreferrer">
    <img
      src="https://skillicons.dev/icons?i=nodejs"
      alt="nodejs"
      width="40"
      height="40"
    /> </a
  ><!-- mongodb --><a
    href="https://www.mongodb.com/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=mongodb"
      alt="mongodb"
      width="40"
      height="40"
    />
  </a>
</p>
<p align="left">
  <!-- rust --><a
    href="https://www.rust-lang.org/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=rust"
      alt="rust"
      width="40"
      height="40"
    /> </a
  ><!-- typescript --><a
    href="https://www.typescriptlang.org/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=typescript"
      alt="dart"
      width="40"
      height="40"
    /> </a
  ><!-- yew --><a href="https://yew.rs/" target="_blank" rel="noreferrer">
    <img
      src="https://skillicons.dev/icons?i=yew"
      alt="yew"
      width="40"
      height="40"
    />
  </a>
  <!-- python --><a
    href="https://www.python.org"
    target="_blank"
    rel="noreferrer"
    ><img
      src="https://skillicons.dev/icons?i=python"
      alt="python"
      width="40"
      height="40"
    /> </a
  ><!-- linux --><a
    href="https://www.linux.org/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=linux"
      alt="linux"
      width="40"
      height="40"
    /> </a
  ><!-- Bash --><a
    href="https://www.linux.org/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://skillicons.dev/icons?i=bash"
      alt="bash"
      width="40"
      height="40"
    />
  </a>
  <!-- git -->
  <a href="https://git-scm.com/" target="_blank" rel="noreferrer">
    <img
      src="https://skillicons.dev/icons?i=git"
      alt="git"
      width="40"
      height="40"
    />
  </a>
</p>
<p align="left"></p>
